<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.title %></td>
    <td><%= movie.description %></td>
    <% if current_user == movie.user %>
      <td><%= link_to 'Show', movie %></td>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user %>
  <%= link_to 'New Movie', new_movie_path %> | <%= link_to 'Show all movies', movies_path %>
<% end %>
